@model TablesVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Orders Details</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="d-flex justify-content-between pb-5 pt-2">
            <span></span>
            @if (Model.IsFines)
            {
                <a class="me-auto btn btn-success"
                   asp-controller="Order"
                   asp-action="PayFineSummery">
                    Pay All Fines 
                </a>
            }
            <ul class="list-group list-group-horizontal-sm">
                <a class="text-decoration-none"
                   asp-controller="Order"
                   asp-action="Index"
                   asp-route-requestedData="@SD.Fines">
                    <li class="list-group-item">Fines</li>
                </a>
                <a class="text-decoration-none"
                   asp-controller="Order"
                   asp-action="Index"
                   asp-route-requestedData="@SD.Orders">
                    <li class="list-group-item">Orders</li>
                </a>
                <a class="text-decoration-none"
                   asp-controller="Order"
                   asp-action="Index"
                   asp-route-requestedData="@SD.WishItems">
                    <li class="list-group-item">Wish list</li>
                </a>
            </ul>
        </div>
        <table class="table table-bordered table-striped" style="width:100%">
            @if (Model.RequestedData == SD.Fines)
            {
                <thead>
                    @if (User.IsInRole(SD.Role_Admin))
                     {
                         <th>Username</th>
                     }
                    <th>Product Name</th>
                    <th>Amount</th>
                    <th>Issued Date</th>
                    <th>Type</th>
                    @if (!User.IsInRole(SD.Role_Admin))
                    {
                        <th>Actions</th>
                    }
                </thead>
                <tbody>
                    @foreach (var fines in Model.FinesList)
                    {
                        <tr>
                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                <td>@fines.ApplicationUser!.Name</td>
                            }
                            <td>@fines.Product!.Title</td>
                            <td>@fines.Amount</td>
                            <td>@fines.IssuedDate</td>
                            <td>@fines.Type</td>
                            @if (!User.IsInRole(SD.Role_Admin))
                            {
                                <td>
                                    <a class="btn btn-primary" asp-action="PayFineSummery" asp-route-fineId="@fines.Id">Pay</a>
                                </td>
                            }
                            
                        </tr>
                    }
                </tbody>
                <tfoot>
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        <th>Username</th>
                    }
                    <th>Product Name</th>
                    <th>Amount</th>
                    <th>Issued Date</th>
                    <th>Type</th>
                    @if (!User.IsInRole(SD.Role_Admin))
                    {
                        <th>Actions</th>
                    }
                </tfoot>
            }
            @if (Model.RequestedData == SD.Orders)
            {
                <thead>
                    @if (User.IsInRole(SD.Role_Admin))
                     {
                         <th>Username</th>
                         <th>Email</th>
                         <th>Phone Number</th>
                     }
                    <th>Date</th>
                    <th>Status</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    @foreach (var order in Model.OrderHeadersList)
                    {
                        <tr>
                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                <td>@order.ApplicationUser.Name</td>
                                <td>@order.ApplicationUser.Email</td>
                                <td>@order.ApplicationUser.PhoneNumber</td>
                            }
                            <td>@order.PaymentDate</td>
                            <td>@order.OrderStatus</td>
                            <td>@order.OrderTotal</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                    }
                    <th>Date</th>
                    <th>Status</th>
                    <th>Total</th>
                </tfoot>
            }
            @if (Model.RequestedData == SD.WishItems)
            {
                <thead>
                    @if (User.IsInRole(SD.Role_Admin))
                     {
                         <th>Username</th>
                     }
                    <th>Product Name</th>
                    <th>Amount</th>
                    <th>Issued Date</th>
                    <th>Type</th>
                </thead>
                <tbody>
                    @foreach (var fines in Model.FinesList)
                    {
                        <tr>
                            @if (User.IsInRole(SD.Role_Admin))
                            {
                                <td>@fines.ApplicationUser!.Name</td>
                            }
                            <td>@fines.Product!.Title</td>
                            <td>@fines.Amount</td>
                            <td>@fines.IssuedDate</td>
                            <td>@fines.Type</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    @if (User.IsInRole(SD.Role_Admin))
                    {
                        <th>Username</th>
                    }
                    <th>Product Name</th>
                    <th>Amount</th>
                    <th>Issued Date</th>
                    <th>Type</th>
                </tfoot>
            }
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/order.js"></script>
}
